<div class="splinter">
  <section class="inventory">
    {{! Owned Weapons Tab }}
    <div class="weaponry window">
      <ol class="items-list">
        <li class="item item-header">
          <h3 class="subtitle">
            <div class="item-image"></div>
            <div class="item-name item-margin">{{localize "PC.Weaponry"}}</div>
            <div class="item-actions">
              <div class="item-action-line">
                <div class="item-skill item-margin">{{localize
                    "PC.Skill"
                  }}</div>
                <div class="item-action item-margin">{{localize
                    "PC.ActionDiff"
                  }}</div>
                <div class="item-modifier item-margin">{{localize "PC.M"}}</div>
                <div class="item-damage item-margin">
                  {{localize "PC.Damage"}}
                </div>
                <div class="item-range item-margin">{{localize "PC.Rng"}}</div>
              </div>
            </div>
            <div class="item-info item-margin">{{localize "PC.Notes"}}</div>
            <div class="item-controls">
              <a
                class="item-control item-create"
                title="Create item"
                data-type="weapon"
              ><i class="fas fa-plus"></i></a>
            </div>
          </h3>
        </li>
        {{#each weapons as |item id|}}
          <li class="item item-line" data-item-id="{{item._id}}">
            <div class="item-image">
              <img
                src="{{item.img}}"
                title="{{item.name}}"
                width="24"
                height="24"
              />
            </div>
            <h4 class="item-name item-margin">
              {{item.name}}
              <span
                class="item-type item-margin"
              >{{item.system.subtypeLabel}}</span>
            </h4>
            <div class="item-actions">
              {{#each item.system.actions as |ac obj|}}
                <div class="item-action-line">
                  <a
                    class="item-skill item-margin"
                    data-action="{{ac.actionSkill}}"
                    data-action-key="{{obj}}"
                    data-item-id="{{item._id}}"
                  >{{ac.actionSkillLabel}}</a>
                  <div
                    class="item-action item-margin"
                  >{{ac.actionTypeLabel}}</div>
                  <div
                    class="item-modifier item-margin"
                  >{{ac.actionModifier}}</div>
                  <div class="item-damage item-margin">
                    {{ac.derivedDamage}}
                    <span>{{ac.dmgType}}</span>
                  </div>
                  <div class="item-range item-margin">{{ac.actionRange}}</div>
                </div>
              {{/each}}
            </div>
            <input
              class="player-notes item-margin"
              data-item-update="{{item._id}}"
              data-item-target="system.notes"
              type="text"
              value="{{item.system.notes}}"
              placeholder="{{item.system.informations}}"
            />
            {{! interval }}
            <div class="item-controls">
              {{#unless item.system.unarmed}}
                <a
                  class="item-control item-unequip"
                  data-item-id="{{item._id}}"
                  title="Unequip Item"
                >
                  <i class="fa-solid fa-backpack"></i>
                </a>
              {{/unless}}
              <a class="item-control item-edit" title="Edit Item">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control item-delete" title="Delete Item">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
    {{! Wear Tab }}
    <div class="wear">
      <div class="vest window">
        <ol class="items-list">
          <li class="item item-header">
            <h3 class="subtitle">
              <div class="item-image"></div>
              <div class="item-name item-margin">{{localize "PC.Vest"}}</div>
              <div class="item-info-line">{{localize "PC.Notes"}}</div>
              <div class="item-controls"></div>
            </h3>
          </li>
          {{#each equippedVest as |item id|}}
            <li class="item item-line" data-item-id="{{item._id}}">
              <div class="item-image">
                <img
                  src="{{item.img}}"
                  title="{{item.name}}"
                  width="24"
                  height="24"
                />
              </div>
              <h4 class="item-name item-margin">
                {{item.name}}
                <span
                  class="item-type item-margin"
                >{{item.system.subtypeLabel}}</span>
              </h4>
              <input
                class="item-info-line player-notes"
                data-item-update="{{item._id}}"
                data-item-target="system.notes"
                type="text"
                value="{{item.system.notes}}"
                placeholder="{{item.system.informations}}"
              />
              {{! interval }}
              <div class="item-controls">
                <a
                  class="item-control item-unequip"
                  data-item-id="{{item._id}}"
                  title="Unequip Item"
                >
                  <i class="fa-solid fa-backpack"></i>
                </a>
                <a class="item-control item-edit" title="Edit Item">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" title="Delete Item">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
          {{/each}}
        </ol>
      </div>
      {{! Acessories Tab }}
      <div class="accesories window">
        <ol class="items-list">
          <li class="item item-header">
            <h3 class="subtitle">
              <div class="item-image"></div>
              <div class="item-name item-margin">{{localize
                  "PC.Accessories"
                }}</div>
              <div class="item-info-line">{{localize "PC.Notes"}}</div>
              <div class="item-controls"></div>
            </h3>
          </li>
          {{#each equippedAcc as |item id|}}
            <li class="item item-line" data-item-id="{{item._id}}">
              <div class="item-image">
                <img
                  src="{{item.img}}"
                  title="{{item.name}}"
                  width="24"
                  height="24"
                />
              </div>
              <h4 class="item-name item-margin">
                {{item.name}}
                <span
                  class="item-type item-margin"
                >{{item.system.subtypeLabel}}</span>
              </h4>
              <input
                class="item-info-line player-notes"
                data-item-update="{{item._id}}"
                data-item-target="system.notes"
                type="text"
                value="{{item.system.notes}}"
                placeholder="{{item.system.informations}}"
              />
              {{! interval }}
              <div class="item-controls">
                <a
                  class="item-control item-unequip"
                  data-item-id="{{item._id}}"
                  title="Unequip Item"
                >
                  <i class="fa-solid fa-backpack"></i>
                </a>
                <a class="item-control item-edit" title="Edit Item">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" title="Delete Item">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
          {{/each}}
        </ol>
      </div>
    </div>
    {{! Gear Tab }}
    <div class="general window">
      <ol class="items-list">
        <li class="item item-header">
          <h3 class="subtitle">
            <div class="item-image"></div>
            <div class="item-name item-margin">{{localize "PC.Items"}}</div>
            <div class="item-info-line">{{localize "PC.Notes"}}</div>
            <div class="item-controls">
              <a
                class="item-control item-create"
                title="Create item"
                data-type="gear"
              ><i class="fas fa-plus"></i></a>
            </div>
          </h3>
        </li>
        {{#each gear as |item id|}}
          <li class="item item-line" data-item-id="{{item._id}}">
            <div class="item-image">
              <img
                src="{{item.img}}"
                title="{{item.name}}"
                width="24"
                height="24"
              />
            </div>
            <h4 class="item-name item-margin">
              {{item.name}}
              <span
                class="item-type item-margin"
              >{{item.system.subtypeLabel}}</span>
            </h4>
            <input
              class="item-info-line player-notes"
              data-item-update="{{item._id}}"
              data-item-target="system.notes"
              type="text"
              value="{{item.system.notes}}"
              placeholder="{{item.system.informations}}"
            />
            {{! interval }}
            <div class="item-controls">
              {{#unless item.system.cantEquip}}
                <a
                  class="item-control item-equip"
                  data-item-id="{{item._id}}"
                  title="Equip Item"
                >
                  <i class="fa-solid fa-screwdriver-wrench"></i>
                </a>
              {{/unless}}
              <a class="item-control item-edit" title="Edit Item">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control item-delete" title="Delete Item">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
  </section>
  <footer class="lists">
    {{! Key items & Currency}}
    <div class="key-currency-title">
      <h4>{{localize "PC.KeyItems"}}:</h4>
      <h4>{{localize "PC.Currency"}}:</h4>
    </div>
    <div class="list-lines">
      <input
        class="list-input"
        name="system.details.keyItems"
        type="text"
        value="{{systemData.details.keyItems}}"
        data-dtype="String"
      />
      <ol class="currencies">
        {{#each actor.system.currency as |coin obj|}}
          <li class="currency">
            <input
              class="currency-current"
              name="system.currency.{{@key}}.current"
              type="number"
              value="{{coin.current}}"
            />
            <input
              class="currency-name"
              name="system.currency.{{@key}}.name"
              type="text"
              value="{{coin.name}}"
            />
          </li>
        {{/each}}
      </ol>
    </div>
  </footer>
</div>