<section class="skills-tab">
  {{#each config.categories as |cat objs|}}
    <div class="grouping">
      <ul class="skill-group {{objs}}">
        <h3 class="group-title subtitle">
          <span class="group-name">{{localize cat}}</span>
          <span class="tag-lvl">N</span>
          <span class="tag-mod">M</span>
        </h3>
        {{#each (lookup @root.config objs) as |p obj|}}
          {{#with (lookup @root.actor.system.skills obj) as |sk|}}
            <li class="skill">
              <input
                class="skill-favor"
                {{checked sk.favor}}
                data-dtype="Boolean"
                type="checkbox"
                name="system.skills.{{@key}}.favor"
              />
              <h4 class="skill-title">
                <a
                  data-label="{{localize p}}"
                  data-skill-key="{{@key}}"
                >{{localize p}}</a>
              </h4>
              <span class="skill-rate">{{localize sk.aprendizado}}</span>
              <span class="skill-att">
                {{attLabel}}{{#if (gte sk.growth 2)}}/{{sk.growth}}{{/if}}
              </span>
              <input
                class="skill-value"
                name="system.skills.{{@key}}.value"
                type="Number"
                value="{{sk.value}}"
                data-dtype="Number"
              />
              <input
                class="skill-mod"
                name="system.skills.{{@key}}.modifiers"
                type="Number"
                value="{{sk.modifiers}}"
                data-dtype="Number"
              />
            </li>
          {{/with}}
        {{/each}}
      </ul>
    </div>
  {{/each}}
</section>
<section class="lists">
  <p>Lista de profissões</p>
  <p>Lista de idiomas</p>
</section>