<section class="skills-tab">
  {{#each config.categories as |cat objs|}}
    <div class="grouping">
      <ul class="skill-group {{objs}}">
        <h3 class="group-title subtitle">
          <span class="group-name">{{localize cat}}</span>
          <span class="tag-lvl">{{localize "PC.L"}}</span>
          <span class="tag-mod">{{localize "PC.M"}}</span>
        </h3>
        {{#each (lookup @root.config objs) as |p obj|}}
          {{#with (lookup @root.actor.system.skills obj) as |sk|}}
            <li class="skill">
              <input
                class="skill-favor"
                {{checked sk.favor}}
                data-dtype="Boolean"
                type="checkbox"
                name="system.skills.{{@key}}.favor"
              />
              <h4 class="skill-title">
                <a
                  data-label="{{localize p}}"
                  data-skill-key="{{@key}}"
                >{{localize p}}</a>
                <span class="skill-exp">{{sk.expSpent}}</span>
              </h4>
              <span class="skill-rate">{{localize sk.aprendizado}}</span>
              <span class="skill-att">
                {{attLabel}}{{#if (gte sk.growth 2)}}/{{sk.growth}}{{/if}}
              </span>
              <input
                class="skill-value"
                name="system.skills.{{@key}}.value"
                type="Number"
                value="{{sk.value}}"
                data-dtype="Number"
              />
              <input
                class="skill-mod"
                name="system.skills.{{@key}}.modifiers"
                type="Number"
                value="{{sk.modifiers}}"
                data-dtype="Number"
              />
            </li>
          {{/with}}
        {{/each}}
      </ul>
    </div>
  {{/each}}
</section>
<section class="lists">
  <h4 class="list-title">{{localize "PC.Notes"}}: </h4>
  <div class="list-lines">
    <input
      class="list-input"
      name="system.details.notes1"
      type="text"
      value="{{systemData.details.notes1}}"
      data-dtype="String"
    />
    <input
      class="list-input"
      name="system.details.notes2"
      type="text"
      value="{{systemData.details.notes2}}"
      data-dtype="String"
    />
  </div>
</section>