<form class="{{cssClass}}" autocomplete="off">
  <!-- Sheet header -->
  <header class="superior">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="superior-right">
      <div class="name-exp">
        <h2 class="charName">
          <input
            name="name"
            type="text"
            value="{{actor.name}}"
            placeholder="Nome"
          />
        </h2>
        <div class="exp-bar">
          <span class="exp-ava">11</span>
          <input
            class="exp-ttl"
            name="system.details.exp"
            type="text"
            value="{{systemData.details.exp}}"
            data-dtype="Number"
          />
          <input
            class="exp-res"
            name="system.details.expReserve"
            type="text"
            value="{{systemData.details.expReserve}}"
            data-dtype="Number"
          />
          <span class="exp">XP</span>
        </div>
      </div>
      <div class="stats-window">
        <div class="left-window">
          <div class="racial">
            <select name="system.details.race">
              {{selectOptions config.race selected=actor.system.details.race}}
            </select>
            <select name="system.details.culture">
              {{selectOptions config.culture selected=actor.system.details.culture}}
            </select>
            <select name="system.details.persona">
              {{selectOptions config.persona selected=actor.system.details.persona}}
            </select>
          </div>
          <div class="att-partial">
            {{> systems/parscrucis/templates/actor/char-att-block.hbs}}
          </div>
        </div>
        <div class="right-window">
          {{> systems/parscrucis/templates/actor/mit-minors.hbs}}
        </div>
      </div>
    </div>
  </header>

  <section class="resources">

  </section>

  <!-- Navigation tab -->
  <nav class="navigation" data-group="primary">
    <a class="item" data-tab="pericias">Perícias</a>
    <a class="item" data-tab="inventario">Inventário</a>
    <a class="item" data-tab="habilidades">Habilidades</a>
    <a class="item" data-tab="efeitos">Efeitos</a>
    <a class="item" data-tab="info">Biografia</a>
    <a class="item" data-tab="registros">Registros</a>
  </nav>

  <!-- Body -->
  <div class="tab-content">
    <div class="tab" data-tab="pericias">
      {{> systems/parscrucis/templates/actor/skills-tab.hbs}}
    </div>
    <div class="tab" data-tab="inventario">
      {{> systems/parscrucis/templates/actor/inventory-tab.hbs}}
    </div>
    <div class="tab" data-tab="habilidades">
      {{> systems/parscrucis/templates/actor/abilities-tab.hbs}}
    </div>
    <div class="tab" data-tab="efeitos">
      {{> systems/parscrucis/templates/actor/effects-tab.hbs}}
    </div>
    <div class="tab" data-tab="info">
      {{> systems/parscrucis/templates/actor/info-tab.hbs}}
    </div>
    <div class="tab" data-tab="registros">
      {{> systems/parscrucis/templates/actor/notes-tab.hbs}}
    </div>
  </div>
</form>
