<section class="attributes">
  {{#each config.attributes as |attribute obj|}}
    {{#with (lookup @root.actor.system.attributes obj) as |att|}}
      <div class="attribute">
        <label>
          <h3 class="stat-name">
            <a data-att-key="{{@key}}" data-att-type="attributes">
              {{shortLabel}}
            </a>
          </h3>
        </label>
        <div class="stat">
          <input
            class="stat-value"
            name="system.attributes.{{@key}}.inputValue"
            type="Number"
            value="{{att.inputValue}}"
            data-dtype="Number"
            placeholder="{{att.autoValue}}"
          />
          <input
            class="stat-modifier"
            name="system.attributes.{{@key}}.modifiers"
            type="text"
            value="{{numberFormat att.modifiers sign=true}}"
            data-dtype="Number"
          />
        </div>
      </div>
      <div class="space"></div>
    {{/with}}
  {{/each}}
  <div class="attribute movement">
    <label>
      <h3 class="stat-name">
        <div>{{localize "PC.MV"}}</div>
      </h3>
    </label>
    <div class="stat">
      <input
        class="mov-value"
        name="system.attributes.movement.value"
        type="Number"
        value="{{systemData.attributes.movement.value}}"
        data-dtype="Number"
        placeholder="{{systemData.attributes.movement.autoValue}}"
      />
      <input
        class="stat-modifier mov-modifier"
        name="system.attributes.movement.modifiers"
        type="text"
        value="{{numberFormat
          data.system.attributes.movement.modifiers
          sign=true
        }}"
        data-dtype="Number"
      />
      <span class="mov-arrow">></span>
      <input
        class="stat-modifier sprint"
        name="system.attributes.movement.sprint"
        type="text"
        value="{{systemData.attributes.movement.sprint}}"
        data-dtype="Number"
        placeholder="{{systemData.attributes.movement.autoSprint}}"
      />
    </div>
  </div>
</section>
<section class="resources">
  <div class="resource">
    <label>
      <h3 class="resource-name"><div>{{localize "PC.PV"}}</div></h3>
    </label>

    <div class="resource-info">
      <span
        class="resource-bar"
        style="width:{{systemData.resources.pv.currentPercent}}%"
      ></span>
      <div class="resource_special">
        <input
          class="stat-value stat-current"
          name="system.resources.pv.value"
          type="Number"
          value="{{systemData.resources.pv.value}}"
          data-dtype="Number"
        />
        <div class="divisor">/</div>
        <input
          class="stat-value stat-max"
          name="system.resources.pv.inputValue"
          type="Number"
          value="{{systemData.resources.pv.inputValue}}"
          data-dtype="Number"
          placeholder="{{systemData.resources.pv.max}}"
        />
      </div>

    </div>

  </div>
  <div class="resource pain">
    <label>
      <h3 class="resource-name"><div>{{localize "PC.Pain"}}</div></h3>
    </label>
    <div class="resource-info">
      <input
        class="stat-value"
        name="system.resources.pv.pain"
        type="Number"
        value="{{systemData.resources.pv.pain}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div class="space"></div>
  <div class="resource lim">
    <label>
      <h3 class="resource-name"><div>{{localize "PC.LIM"}}</div></h3>
    </label>
    <div class="resource-info resource-lim">
      <input
        class="stat-value stat-current"
        name="system.resources.lim.value"
        type="Number"
        value="{{systemData.resources.lim.value}}"
        data-dtype="Number"
      />
      <div class="divisor">/</div>
      <input
        class="stat-value lim-value stat-max"
        name="system.resources.lim.inputValue"
        type="Number"
        value="{{systemData.resources.lim.inputValue}}"
        data-dtype="Number"
        placeholder="{{systemData.resources.lim.max}}"
      />
    </div>
  </div>
  <div class="space"></div>
  <div class="resource">
    <label>
      <h3 class="resource-name"><div>{{localize "PC.PE"}}</div></h3>
    </label>
    <div class="resource-info">
      <span
        class="resource-bar pe-bar"
        style="width:{{systemData.resources.pe.currentPercent}}%"
      ></span>
      <div class="resource_special">
        <input
          class="stat-value stat-current"
          name="system.resources.pe.value"
          type="Number"
          value="{{systemData.resources.pe.value}}"
          data-dtype="Number"
        />
        <div class="divisor">/</div>
        <input
          class="stat-value stat-max"
          name="system.resources.pe.inputValue"
          type="Number"
          value="{{systemData.resources.pe.inputValue}}"
          data-dtype="Number"
          placeholder="{{systemData.resources.pe.max}}"
        />
      </div>
    </div>
  </div>
  <div class="resource pain">
    <label>
      <h3 class="resource-name"><div>{{localize "PC.Ret"}}</div></h3>
    </label>
    <div class="resource-info">
      <input
        class="stat-value"
        name="system.resources.pv.temp"
        type="Number"
        value="{{systemData.resources.pv.temp}}"
        data-dtype="Number"
      />
    </div>
  </div>
</section>