<form class="{{cssClass}}" autocomplete="off">
  <!-- Sheet header -->
  <header class="superior">
    <img 
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img" 
      title="{{actor.name}}"
    />
    <div class="superior-right">
      <div class="name-exp">
        <h2 class="title-name">
          <input
            class="title-name_input"
            name="name"
            type="text"
            value="{{actor.name}}"
            placeholder="Nome"
          />
        </h2>
        <div class="exp-bar">
          <span class="exp-ava">{{systemData.details.expAvailable}}</span>
          <input
            class="exp-ttl"
            name="system.details.exp"
            type="text"
            value="{{systemData.details.exp}}"
            data-dtype="Number"
          />
          <input
            class="exp-res"
            name="system.details.expReserve"
            type="text"
            value="{{systemData.details.expReserve}}"
            data-dtype="Number"
          />
          <span class="exp">{{localize "PC.XP"}}</span>
        </div>
      </div>
      <div class="stats-window">
        <div class="left-window">
          <div class="racial">
            <select name="system.details.race">
              {{selectOptions config.race selected=actor.system.details.race localize=true}}
            </select>
            <select name="system.details.culture">
              {{selectOptions config.culture selected=actor.system.details.culture localize=true}}
            </select>
            <select name="system.details.persona">
              {{selectOptions config.persona selected=actor.system.details.persona localize=true}}
            </select>
          </div>
          <div class="att-partial">
            {{> systems/parscrucis/templates/actor/blocks/char-att-block.hbs}}
          </div>
        </div>
        <div class="right-window">
          {{> systems/parscrucis/templates/actor/blocks/mit-minors.hbs}}
        </div>
      </div>
    </div>
  </header>

  <!-- Navigation tab -->
  <nav class="navigation" data-group="primary">
    <a class="item" data-tab="skills">{{localize "PC.skills"}}</a>
    <div class="space"></div>
    <a class="item" data-tab="inventory">{{localize "PC.inventory"}}</a>
    <div class="space"></div>
    <a class="item" data-tab="abilities">{{localize "PC.abilities"}}</a>
    <div class="space"></div>
    <a class="item" data-tab="effects">{{localize "PC.effects"}}</a>
    <div class="space"></div>
    <a class="item" data-tab="biography">{{localize "PC.biography"}}</a>
    <div class="space"></div>
    <a class="item" data-tab="information">{{localize "PC.information"}}</a>
  </nav>

  <!-- Body -->
  <div class="tab-content">
    <div class="tab" data-tab="skills">
      {{> systems/parscrucis/templates/actor/tabs/skills-tab.hbs}}
    </div>
    <div class="tab inventory-tab" data-tab="inventory">
      {{> systems/parscrucis/templates/actor/tabs/inventory-tab.hbs}}
    </div>
    <div class="tab" data-tab="abilities">
      {{> systems/parscrucis/templates/actor/tabs/abilities-tab.hbs}}
    </div>
    <div class="tab" data-tab="effects">
      {{> systems/parscrucis/templates/actor/tabs/effects-tab.hbs}}
    </div>
    <div class="tab" data-tab="biography">
      {{> systems/parscrucis/templates/actor/tabs/info-tab.hbs}}
    </div>
    <div class="tab" data-tab="information">
      {{> systems/parscrucis/templates/actor/tabs/notes-tab.hbs}}
    </div>
  </div>
</form>
