<form class="{{cssClass}} weapon-sheet" autocomplete="off">
  <header class="superior">
    <img
      class="item-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="superior-right item-header-right">
      <h2 class="title-name item-name">
        <input
          class="title-name_input"
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Nome"
        />
      </h2>
      <div class="item-header-right-lower">
        <div class="item-header-upper">
          <select name="system.category">
            {{selectOptions
              config.abilityCategory
              selected=item.system.category
              localize=true
            }}
          </select>
        </div>
        <div class="item-header-lower">
          <div class="item-attribute item-cost">
            <h3 class="item-att-name">
              <div>{{localize "PC.XP"}}</div>
            </h3>
            <div class="item-att-info">
              <input
                class="att-extra item-price"
                name="system.expCost"
                type="number"
                value="{{item.system.expCost}}"
                data-dtype="Number"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  {{! Actions rendered here }}

  <!-- Navigation tab -->
  <nav class="navigation" data-group="primary">
    <a class="item" data-tab="description">{{localize "PC.Description"}}</a>
    <div class="space"></div>
    <a class="item" data-tab="details">{{localize "PC.Details"}}</a>
  </nav>

  <!-- Body -->
  <div class="tab-content sheet-content weapon-content">
    <div class="tab" data-tab="description">
      <div class="window item-description-window">
        <h3 class="subtitle"><span>{{localize "PC.Description"}}</span></h3>
        <div class="bio">
          {{editor
            item.system.description
            target="system.description"
            button=true
            owner=owner
            editable=editable
          }}
        </div>
      </div>
    </div>
    <div class="tab" data-tab="details">
      <div class="window">
        <h3 class="subtitle">
          <div class="action-note">{{localize "PC.Observations"}}</div>
        </h3>
        <textarea
          class="action-notes"
          name="system.notes"
        >{{item.system.notes}}</textarea>
      </div>
      <div class="window">
        <h3 class="subtitle">
          <div class="action-note">{{localize "PC.Informations"}}</div>
        </h3>
        <textarea
          class="action-informations"
          name="system.informations"
        >{{item.system.informations}}</textarea>
      </div>
    </div>
  </div>
</form>